@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'roboto';
  src: url(../public/Roboto-Regular.ttf);
}

.roboto {
  font-family: 'roboto';
}

.swiper-container{
  background-color: #343D3F;
  
}
.slider-item{
  margin-top: 5rem;
  margin-right: 0;
  margin-left: 4rem;
  padding: 0;
  width: 350px;
  height: 100%;
  object-fit: cover;
  
}


